body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    width: 1440px;
    height: 700px;
    margin: 0%;
    padding: 0%;
}

.banner img {
    height: 90%;
    width: 100%;
}

.heading {
    position: absolute;
    margin: auto;
    padding: 0%;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 40px;
    padding-right: 50px;
}

.text-color {
    color: white;
    font-size: 59px;
    text-align: center;

}

.donate {
    line-height: 60px;
}

h1 {
    font-size: 50px;
}

.paragraph-color {
    color: rgb(243, 247, 241);
}

.donate {
    color: rgb(242, 246, 250);
    text-decoration: none;
    background-color: rgb(248, 89, 89);
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 20px;
}

.heading-center {
    text-align: center;
    paddingt: 100%;
    font-size: 20px;

}

.flexible {}

.donate1 {
    color: rgb(2, 1, 0);
    text-decoration: none;
    background-color: rgb(13, 206, 196);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.donet-taka {
    text-align: center;
    padding-left: 30px;

}

.container1 {
    position: relative;
    width: 1200px;
    height: 400px;
    margin: 120px auto;

}

.container1 .box1 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(228, 223, 223);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container1 .box1 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    padding: 20px;
}

.container1 .box1 .contain1 {
    position: absolute;
    height: 100%;
    text-align: left;
    padding: 50px;
    box-sizing: border-box;
    background: rgb(151, 238, 216)
}

.container1 .box2 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(228, 223, 223);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container1 .box2 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    padding: 20px;
}

.container1 .box2 .contain1 {
    position: absolute;
    height: 100%;
    text-align: left;
    padding: 50px;
    box-sizing: border-box;
    background: rgb(253, 117, 38)
}

.container1 .box3 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(199, 228, 69);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container1 .box3 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    padding: 20px;
}

.container1 .box3 .contain1 {
    position: absolute;
    height: 100%;
    text-align: left;
    padding: 50px;
    box-sizing: border-box;
    background: rgb(235, 202, 16)
}

.container2 {
    position: relative;
    width: 1000px;
    height: 90px;
    margin: auto;
    padding-left: 300px;
    padding-right: 80px;
    text-align: center;
}

.container2 .donet1 {
    width: 70px;
    height: 100px;
    background-color: rgb(206, 221, 216);
    float: left;
    padding-right: 5%;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;

}

.container2 .donet2 {
    width: 70px;
    height: 100px;
    background-color: rgb(243, 195, 195);
    float: left;
    padding-right: 5%;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    border: 2px solid red;
}

.amount {
    max-width: 500px;
    text-align: center;
    margin: auto;
    line-height: 70px;
}

.amount-taka {
    text-align: justify;
    margin: auto;
}

#varticle-line {
    width: 500px;
    height: 2px;
    background-color: black;

}

.donate-2 {
    color: rgb(242, 246, 250);
    text-decoration: none;
    background-color: rgb(248, 89, 89);
    border-radius: 5px;
    font-weight: 900;
    font-size: 20px;
    padding: 15px;
    letter-spacing: 1px;
    line-height: 100px;
}

.plan {
    text-align: center;
    font-size: 20px;
}

.fexible-Container {
    display: flex;
    margin-bottom: 50px;
}

.fexible-Container1 {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-right: 15%;

}

.half-width img {
    width: 456px;
    height: 477px;
    top: 2078px;
    left: 732px;
}

.donation-lives {
    padding-left: 30px;
    padding-right: 50px;
}

.donation-lives1 {
    padding-left: 30px;
    padding-right: 50px;
}

.get-update {
    text-align: center;
    font-size: 20px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.from-Box {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: ;
    background: #e58282;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff;
}

.from-Box input {
    color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ececec;
    border: none;
    outline: none;
}

.from-Box button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(226, 36, 36);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}